{{define "content"}}
<div class="main">
<h2>Songlist | {{.Date}}</h2>
  {{ if $.CurrSongN }}
    <p>
      <a href="#playing"> 
      Current song: {{$.CurrSongT}}</a><br>
      Requested by: {{$.CurrSongN}}
      <a href="https://www.youtube.com/watch?v={{$.CurrSongId}}" target="_blank" id="ytlink">YouTube link</a>
    </p>
    {{ range $key, $value := .Name }}
      {{ $ps := index $.PlayState $key }}
      {{ $np := index $.Title $key }}
      {{ if eq $np $.CurrSongT }}
        <div class="songlistDiv playing" id="playing">
          <img src="{{index $.Thumb $key }}"><p>{{index $.Title $key }}<br> Requested by: {{index $.Name $key }}
          <br><a href="https://www.youtube.com/watch?v={{index $.Songid $key }}" target="_blank" id="ytlink">YouTube link</a><br>
          ID: {{index $.Songid $key }}</p>
        </div>
      {{ else if eq $ps "0" }}
        <div class="songlistDiv">
          <img src="{{index $.Thumb $key }}"><p>{{index $.Title $key }}<br> Requested by: {{index $.Name $key }}
          <br><a href="https://www.youtube.com/watch?v={{index $.Songid $key }}" target="_blank" id="ytlink">YouTube link</a><br>
          ID: {{index $.Songid $key }}</p>
        </div>
      {{ else }}
        <div class="songlistDiv played">
          <img src="{{index $.Thumb $key }}"><p>{{index $.Title $key }}<br> Requested by: {{index $.Name $key }}
          <br><a href="https://www.youtube.com/watch?v={{index $.Songid $key }}" target="_blank" id="ytlink">YouTube link</a><br>
          ID: {{index $.Songid $key }}</p>
        </div>
      {{ end }}
    {{ end }}
  {{ else }}
    <h3>There aren't any songrequests available from {{.Date}}</h3>
  {{ end }}
</div>
{{end}}