{{define "content"}}
<div class="main" style="display: flex; flex-wrap: wrap; width: 70%; margin: auto; margin-top: 20px;">
  <div class="statBlockT">
    <h3 style="text-align: center;">Base stats</h3>
    <p>
      Chat has typed a <b>{{ .Values.Info.lines }}</b> lines in chat. <br>
      A total of <b>{{ .Values.Info.userCount }}</b> users have visited the stream. <br>
      Chat has requested <b>{{ .Values.Info.songRequests }}</b> songs during the stream. <br>
      The mods have given <b>{{ .Values.Info.timeoutCount }}</b> a timeout in chat. <br>
      <b>{{ .Values.Info.banCount }}</b> people have been banned from chat.
    </p>
  </div>
  
  <div class="statBlock">
    <h3 style="text-align: center;">Top lines</h3>
    {{ range $key, $value := .Values.Info.totalLines }}
      <div class="statLine"><b>{{ add $key 1 }}</b> {{ index $.Values.Info.nlNames $key }} <span class="rightStat">{{ $value }}</span></div>
    {{ end }}
  </div>
  
  <div class="statBlock">
    <h3 style="text-align: center;">Top points</h3>
    {{ range $key, $value := .Values.Info.totalPoints }}
      <div class="statLine"><b>{{ add $key 1 }}</b> {{ index $.Values.Info.pNames $key }} <span class="rightStat">{{ $value }}</span></div>
    {{ end }}
  </div>
  
  <div class="statBlock">
    <h3 style="text-align: center;">Top online</h3>
    {{ range $key, $value := .Values.Info.onlineHours }}
      <div class="statLine"><b>{{ add $key 1 }}</b> {{ index $.Values.Info.onNames $key }} <span class="rightStat">{{ parseWatchTime $value }}</span></div>
    {{ end }}
  </div>
  
  <div class="statBlock">
    <h3 style="text-align: center;">Top offline</h3>
    {{ range $key, $value := .Values.Info.offlineHours }}
      <div class="statLine"><b>{{ add $key 1 }}</b> {{ index $.Values.Info.offNames $key }} <span class="rightStat">{{ parseWatchTime $value }}</span></div>
    {{ end }}
  </div>

</div>
{{end}}